name: ESP32-S3 CI Build EvilKeyboard

on:
  push:
    tags:
      - "v*" # Workflow ini akan jalan jika Anda melakukan push tag (misal: v1.0.0)
  workflow_dispatch: # Memungkinkan menjalankan manual dari tab Actions

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Diperlukan untuk membuat Release dan upload aset

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Build ESP32-S3 Project
      uses: espressif/esp-idf-ci-action@v1
      with:
        target: esp32s3
        esp_idf_version: latest
        path: ./
        command: |
          idf.py build
          esptool --chip esp32s3 merge-bin \
            -o evilkbd.bin \
            --flash-mode dio \
            --flash-freq 80m \
            --flash-size 2MB \
            0x0 bootloader/bootloader.bin \
            0x8000 partition_table/partition-table.bin \
            0x10000 esp_hid_device.bin

    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
        files: |
          build/evilkbd.bin
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
